<style type="text/css">
	h1{	color: white;
	}
</style>



<div class="container">

  <div class="row">
    <div class="col-12" style="background-color:black;">
      
    </div>    
  </div>
  <div class="row">
    <div class="col-3" style="background-color:blue;">
      1 of 3
    </div>
    <div class="col-9" style="background-color:green;">
      2 of 3
    </div>    
  </div>
<div class="row">
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
<div class="row">
  <div class="col-8">col-8</div>
  <div class="col-4">col-4</div>
</div>

</div>




