<p id="notice"><%= notice %></p>

<p>
  <strong>Id usu den:</strong>
  <%= @denunciante.id_usu_den %>
</p>

<%= link_to 'Edit', edit_denunciante_path(@denunciante) %> |
<%= link_to 'Back', denunciantes_path %>
